@font-face {
     font-family: 'Ubuntu';
     src: url('/font/Ubuntu-Regular.woff2') format('woff2'),
          url('/font/Ubuntu-Regular.woff') format('woff'),
          url('/font/Ubuntu-Regular.ttf') format('truetype');
     font-weight: 400;
     font-style: normal;
}

@font-face {
     font-family: 'Ubuntu';
     src: url('/font/Ubuntu-Bold.woff2') format('woff2'),
          url('/font/Ubuntu-Bold.woff') format('woff'),
          url('/font/Ubuntu-Bold.ttf') format('truetype');
     font-weight: 500;
     font-style: normal;
}

@font-face {
     font-family: 'Ubuntu';
     src: url('/font/Ubuntu-Bold.woff2') format('woff2'),
          url('/font/Ubuntu-Bold.woff') format('woff'),
          url('/font/Ubuntu-Bold.ttf') format('truetype');
     font-weight: 600;
     font-style: normal;
}

@font-face {
     font-family: 'Ubuntu';
     src: url('/font/Ubuntu-Bold.woff2') format('woff2'),
          url('/font/Ubuntu-Bold.woff') format('woff'),
          url('/font/Ubuntu-Bold.ttf') format('truetype');
     font-weight: 700;
     font-style: normal;
}